*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
  }  

.body-text{
    margin-left: 150px;
    border: 5px solid;

    
}

.p1{
    border: 5px solid;
    padding: 0.125rem 0.5rem;
    width: 1617px;
    height: 500px;
    font-size: 30px;
}
.p2{
    border:5px solid;
}
h1 {
    text-align: center;
    font-size: 300%;
    background-color: rgb(129, 129, 253);
    padding: 1%;
    position:relative;
    
}

h2{
    text-align: left;
    font-size: 48px;
    padding: 1%;

}

section {
  flex: 0 0 400px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img1{
   float: right;
}

.photo{
    padding: 5px 20px;
    border: 2px solid rgb(129, 129, 253);
    height: 100%;
    width: 100%;
    object-fit: contain;
}
h3{
    text-align: center;
    font-size: 28px;
    padding: 1%;
}

h4{
    text-align: center;
    font-size: 28px;
    padding: 1%;
}

h5{
    text-align: center;
    padding: 1%;
    font-size: 28px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    float: left;

}
section{
    flex: 0 0 400px;
    background-color: #fff;
    padding: 20px;
}
.container{
    padding:2px 16px;

}

.sidenav {
    height: 150%;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(129, 129, 253);
    padding-top: 40px;
}
.sidenav div{
    padding: 8px;
    font-size: 24px;
    text-align: center;
    display: block;
}
footer{
    text-align: center;
    background-color: rgb(129, 129, 253);
    padding: 1%;
}
